html,body,div,p{
    margin: 0;
    padding: 0;

}
.green,.Light_blue{
    color: #65c8ff;
}
.Lavender{
    color: #a79bf5;
}
li{
    list-style: none;
}
.borderRadius{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.public_left{
    float: left!important;
}
.public_right{
    float: right!important;
}
.nav_header{
    height:50px;
    line-height:50px;
    font-size: 16px;
    background: #eaedf1;
}
.nav_header img{
    padding: 12px;
    vertical-align: middle;
}
.Service{
    color: #00c1de;
}
.box{
    background: -webkit-linear-gradient(left, #dde0e4 , #eaedf1); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #dde0e4, #eaedf1); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #dde0e4, #eaedf1); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #dde0e4 , #eaedf1); /* 标准的语法 */
    padding-bottom: 10px;
    overflow: hidden;
}
.content{
    width: 96%;
    margin: 15px 2% 0px 2%;
    /*border:1px solid #cccccc;*/
    overflow: hidden;
}
.tob p{
    font-size: 18px;
}
.tob p span{
    font-size: 24px;
}
.content .top_box{
    width: 24.25%;
    height: 200px;
    float: left;
    margin-left: 1%;
    box-sizing: border-box;
    background: white;

}
.content .top_box_33{
    width: 32.6%;
    float: left;
    margin-left: 1%;
    box-sizing: border-box;
    background: white;
    overflow: hidden;
}
.content_table{
    background: white;
}
.content .top_box_49{
    width: 49.5%;
    /*height: 200px;*/
    float: left;
    margin-left: 1%;
    box-sizing: border-box;
    background: white;
    overflow: hidden;

}
.content .top_box_15{
    width:15%;
    float: left;
    margin-left: 1%;
    box-sizing: border-box;
    background: white;
    overflow: hidden;
    /*outline: 1px solid red;*/

}
.content .top_box_69{
    width:68%;
    float: left;
    box-sizing: border-box;
    margin-left:1%;
    overflow: hidden;
    /*outline: 1px solid red;*/
}

.content .top_box1{
    border: 1px solid #00a6fe;
    box-shadow: 2px 2px 4px #00a6fe;
}
.content .top_box2{
    border: 1px solid #cc99ff;
    box-shadow: 2px 2px 4px #cc99ff;
}
.content .top_box3{
    border: 1px solid #75e781;
    box-shadow: 2px 2px 4px #75e781;
}
.content .top_box4{
    border: 1px solid #cc99ff;
    box-shadow: 2px 2px 4px #cc99ff;
}
#main,#main1{
    background: white;
}
.content div:first-child{
    margin-left: 0;
}

.content div .tob{
    width: 200px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.top_box a{
    color: black;
    text-decoration:none;
}
.content img {
    padding-top: 21px;
}
.box_1{
    margin-top: 5px;
}
.box_left{
    width: 45%;
}
.box_right{
    width: 54%;
    background: white;
    overflow: hidden;
}
table {
    width: 100%;
    text-align: center;
}
.tob .storage,.tob .backups{
    font-size: 28px;
}


/*架构图*/
/*.Framework_head{*/
    /*height: 145px;*/
    /*color: white;*/
    /*overflow: hidden;*/
/*}*/
/*.Framework_head_left{*/
    /*width: 33%;*/
    /*height: 145px;*/
/*}*/
/*.Framework_head_right{*/
    /*width: 67%;*/
    /*height: 145px;*/
/*}*/
/*.Framework_head_left1{*/
    /*background: url("../image/1.png")no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.Framework_head_right1{*/
    /*background: url("../image/2.png")no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.Framework_head_left2{*/
    /*background: url("../image/Framework_head2.png")no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.Framework_head_right2{*/
    /*background: url("../image/Framework_head2_2.png")no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.Framework_head_left3{*/
    /*background: url("../image/Framework_head3.png")no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*.Framework_head_right3{*/
    /*background: url("../image/Framework_head3_3.png")no-repeat;*/
    /*background-size: 100% 100%;*/
/*}*/
/*div .Framework_head_left .Framework_head_left_box {*/
    /*width: 75px;*/
    /*margin: 0 auto;*/
/*}*/
/*.Framework_head_left_box img{*/
    /*padding-top: 0px;*/
/*}*/
/*.Framework_head_left_box h3 {*/
    /*margin-top: 5px;*/
    /*padding: 0;*/
    /*!* font-size: 18px; *!*/
/*}*/
/*div .Framework_head_right .Framework_head_right_box {*/
    /*margin:25px auto auto 76px;*/
/*}*/
/*.Framework_head_right_box p{*/
    /*font-size: 18px;*/
/*}*/
/*.Framework_head_right_box b{*/
    /*font-size: 48px;*/
/*}*/
/*.Framework_head_right_box span{*/
    /*font-size: 30px;*/
    /*margin-left: 20px;*/
/*}*/


.Framework_head_icons{
    position: relative;
}
.Framework_head_icons img {
    position: absolute;
    top: -4px;
    left: 30px;
    z-index: 99;
}
.tap_box_blue {
    height: 140px;
    border-radius: 6px;
    margin-top: 10px;
    position: relative;
    color: white;
    overflow: hidden;
}
.content .Framework_head{
    background: none;
}
.Framework_head_icons{
    position: absolute;
    top: 0;
}
.Framework_head_box{
    overflow: hidden;
}
.Framework_head_box .Framework_head_boxLeft{
     width: 33%;
     height: 140px;
 }
.Framework_head_box .Framework_head_boxRight{
    width: 67%;
    height: 140px;
}
/*颜色*/
.Framework_head_box .Framework_head_boxLeft1{
    background: #2093e4;
}
.Framework_head_box .Framework_head_boxRight1{
    background: #46acf4;
}
.Framework_head_box .Framework_head_boxLeft2{
    background: #998cee;
}
.Framework_head_box .Framework_head_boxRight2{
    background: #a79bf5;
}
.Framework_head_box .Framework_head_boxLeft3{
    background: #09aea5;
}
.Framework_head_box .Framework_head_boxRight3{
    background: #1eb8b0;
}
div .Framework_head_box .Framework_head_inter {
    width: 75px;
    margin: 0 auto;
}
div .Framework_head_box .Framework_head_inter img{
    padding-top: 0;
}
div .Framework_head_box .Framework_head_inter h3{
    margin-top: 5px;
    padding: 0;
}
div .Framework_head_box .Framework_head_right_box {
    margin: 25px auto auto 76px;
}
.Framework_head_right_box p {
    font-size: 18px;
}
.Framework_head_right_box b {
    font-size: 48px;
}
.Framework_head_right_box span {
    font-size: 30px;
    margin-left: 20px;
}
/*head_end*/
div .top_box_15 .Framework_block{
    width: 110px;
    margin: 0 auto;
}
.top_box_15 .Framework_block p{
    font-size: 24px;
    color: #666666;
}
.top_box_15 .Framework_list{
    margin: 20px 0 20px 0;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    color: #666666;

}
.top_box_15 .Framework_list li{
    margin-top: 20px;
    /*height: 85px;*/
    box-shadow: 2px 4px 4px #ccfbf4;
    border-radius: 10px;
    overflow: hidden;
}
.content .top_box_15 .Framework_list li img{
    padding-top: 0px;
}
.Framework_list .list_block_left{
    width: 80px;
    height: 79px;
}
.Framework_list .list_block  span{
    font-size: 30px;
    color: #0fe3d9;
}
.Framework_list .list_block  p{
    font-size: 20px;
    padding: 5px 0 0 5px;
}
.Framework_content_box{
    overflow: hidden;
    background: white;
}
/*div .content .Framework_content_left_inner {*/
    /*width: 115px;*/
    /*margin: 0 auto;*/
/*}*/
.Framework_content_left_text{
    font-size: 24px;
    color: #666666;
}
div .content .Framework_content_left,div .content .Framework_content_block_left{
    /*width:115px;*/
    width: 14%;
    margin-left: 3%;
    margin-right:3%;
    /*height: 300px;*/
}
div .Framework_content_left .Framework_content_left_inner {
    width: 115px;
    height: 147px;
    margin: 0 auto;
}

div .Framework_content_block_left .Framework_content_left_inner {
    width: 115px;
    height: 147px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}
div .content .Framework_content_block_left:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.Framework_content_right{
    width: 77%;
    margin-right:3%;
    padding-bottom: 10px;
    overflow: hidden;
}
.content .Percentage  img{
    width: 100%;
}
.Framework_content_block {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom:10px;
    background: white;
    overflow: hidden;
}
.Framework_content_block.Framework_content_bottom {
    padding-top: 5px;
}
.Framework_content_block_right{
    width: 77%;
    margin-right:3%;
    overflow: hidden;
}
div .Framework_content_block .Framework_content_bg1{
    background: url("../image/Framework_3.png")no-repeat;
}
div .Framework_content_block .Framework_content_bg2{
    background: url("../image/Framework_4.png")no-repeat;
}
div .Framework_content_block .Framework_content_bg3{
    background: url("../image/Framework_5.png")no-repeat;
}
.Framework_content_block_right h3,.Framework_content_block_right p{
    margin: 0;
    padding: 0 0 0 15%;
    color: white;
}
.Framework_content_block_right h3{
    padding-top: 3px;
    font-size: 30px;
}
.Framework_content_block_right p{
    font-size: 16px;
}
.Framework_content_block_right .Framework_content_wrap{
    margin: 0 auto;
    padding: 8% 0 10% 0;
    width: 120px;
    font-size: 18px;
    color: #666666;
}
.Framework_content_block_right .Framework_content_wrap img{
    padding-top: 0;
    vertical-align: middle;
}
.Framework_content_block_right .Framework_content_wrap span{
    padding-left: 2%;
}
.Framework_content_block .Framework_content_block_right img{
    padding-top: 0px;
}
.Framework_content_block .Framework_content_block_right .img{
    position: relative;
    width: 58px;
    margin: 0 auto;
    z-index: 99;
}
.Framework_content_block .Framework_content_block_right .wrap {
    margin-top: -42px
}
.Framework_content_block .Framework_content_block_right .wrap_zhengWu {
    background: #16e7de;
}
.Framework_content_block .Framework_content_block_right .wrap_jiZhong {
    background: #6cbffb;
}
.Framework_content_block .Framework_content_block_right .wrap_cunChu {
    background: #beb1f8;
}
.Framework_content_block .Framework_content_block_right1{
    padding-top: 0px;
}
.Empty_tag {
    border: 1px solid white;
    overflow: hidden;
}
.Framework_content_block_right .wrap h3{
    padding:40px 0 0 0;
    font-size: 18px;
    color: #666666;
    text-align: center;
    font-weight: 500;
}
.Framework_content_block_right .inner{
    width: 96%;
    margin: 6px 2% 0 2%;
    overflow: hidden;
}
.Framework_content_block_right .inner1{
    border-top:1px solid #53f2eb;
    padding-bottom: 10px;
}
.Framework_content_block_right .inner2{
    border-top:1px solid #90cbf3;
    padding-bottom: 10px;
}
.Framework_content_block_right .inner3{
    border-top:1px solid #d0caf8;
    padding-bottom: 10px;
}
.Framework_content_block_right .box_inner{
    margin-top: 10px;
    overflow: hidden;
}
.Framework_content_block_right .box_inner_left{
    width:50% ;
}
.Framework_content_block_right .box_inner_right{
    width:50% ;
}
.Framework_content_block_right .box_inner p{
    font-size: 18px;
    padding-left: 8%;
    padding-top:5px;
    padding-bottom: 5px;
}
.Framework_content_block_right .box_inner p b{
    font-size: 25px;
}
/*进度条*/
.Framework_content_block_right .cent_Bar{
    margin-top: 12px;
    overflow:hidden
}
.Framework_content_block_right .Bar{
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.Framework_content_block_right .Bar .Bar_bar{
    display: block;
    position: relative;
    color: white;
    height: 20px; /* 高度 */
    line-height: 20px;  /* 必须和高度一致，文本才能垂直居中 */
    border-radius: 10px;
    overflow: hidden;
}
.Framework_content_block_right .Bar1{
    background: #25d4cc;
}
.Framework_content_block_right .Bar .Bar_bar1{
    background:#f14d3d;/* 进度条背景颜色 */
}
.Framework_content_block_right .Bar2{
    background: #65bcf7;
}
.Framework_content_block_right .Bar .Bar_bar2{
    background:#916fff;/* 进度条背景颜色 */
}
.Framework_content_block_right .Bar3{
    background: #25d4cc;
}
.Framework_content_block_right .Bar .Bar_bar3{
    background:#e4af0e;/* 进度条背景颜色 */
}
.Framework_content_block_right .Bar  span{
    position: absolute;
    width: 200px;
    text-align: center;
    font-weight: bold;
}
span.border {
    display: inline-block;
    width: 10px;
    height: 25px;
    margin-right: 7px;
    background: #916fff;
}

/*饼图*/
.Pie_chart,.Pie_chart_circle,.Pie_chart_percent{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.Pie_chart{
    margin-top: 40px;
    background-color: #5db6f2;
}
.Pie_chart_circle{
    box-sizing: border-box;
    border:20px solid #5db6f2;
    clip:rect(0,200px,200px,100px);
}
.Pie_chart_clip_auto{
    clip:rect(auto, auto, auto, auto);
}
.Pie_chart_percent{
    box-sizing: border-box;
    top:-20px;
    left:-20px;
}
.Pie_chart_left{
    transition:transform ease;
    border:20px solid #26ede3;
    clip: rect(0,100px,200px,0);
}
.Pie_chart_right{
    border:20px solid #26ede3;
    clip: rect(0,200px,200px,100px);
}
.Pie_chart_wth0{
    width:0;
}
.Pie_chart_num{
    position: absolute;
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    line-height: 160px;
    text-align: center;
    font-size: 40px;
    left: 20px;
    top: 20px;
    border-radius: 50%;
    color: white;
    z-index: 1;
}
/*content_right */
.Framework_content_right1{
    width: 96%;
    margin: 15px auto;
    border: 1px solid #15e7de;
}
.Framework_content_right1 .Framework_block_number{
    height: 85px;
    background: #42ece4;
}
.Framework_content_right .Framework_block_imgNumber{
    width: 115px;
    margin: 0 auto;
}
div .Framework_block_number .Framework_block_imgNumber {
    width: 115px;
    margin: 0 auto;
    text-align: center;
}
div .Framework_block_number .Framework_block_imgNumber p{
    font-size: 18px;
    color: #666666;
}
div .Framework_block_number .Framework_block_imgNumber img{
    padding-top: 5px;
}