/*公共样式*/
*{
    padding:0;
    margin: 0;
    outline: 1px solid red;
    box-sizing: border-box;
}
.public_left{
    float: left!important;
}
.public_right{
    float: right!important;
}
/*小字体*/
.dzzwggpt-Small{
    font-size: 14px;
}

.Small_20{
    font-size: 18px;
}
@media only screen and (max-width: 1399px) and (min-width: 1366px){
    .dzzwggpt-Small{
        font-size: 10px;
    }
}
/*字体颜色*/
.color_666666{
    color: #666666;
}
.color_333{
    color: #333;
}
.color_227ad3{
    color: #227ad3;
}
.color_333{
    color:#333 ;
}
.color_147de1{
    color: #147de1;
}
.color_3abf51{
    color: #3abf51;
}
.color_8a82fd{
    color: #8a82fd;
}
.color_15adf4{
    color: #15adf4;
}
/*背景颜色*/
.background_eaedf1{
    background: #eaedf1;
}
.background_ff8761{
    background: #ff8761;
}
.background_f2805c{
    background: #f2805c;
}
.background_57bdde{
    background: #57bdde;
}
.background_53b3d3{
    background: #53b3d3;
}
.background_b198dc{
    background: #b198dc;
}
.background_a890d1{
    background: #a890d1;
}
.background_5dbb62{
    background: #5dbb62;
}
.background_1b4d6a{
    background: #1b4d6a;
}
.background_33a7a2{
    background: #33a7a2;
}
.background_134977{
    background: #134977;
}
.background_4a7fd4{
    background: #4a7fd4;
}
.background_184181{
    background: #184181;
}
.background_094aa9{
    background: #094aa9;
}
.background_1a4f9b{
    background: #1a4f9b;
}
.background_12438a{
    background: #12438a;
}
.background_37afa4{
    background: #37afa4;
}
.background_4f83da{
    background: #4f83da;
}
.background_47a94d{
    background:#47a94d;
}
.background_26a296{
    background: #26a296;
}
.background_5bb863{
    background:#5bb863;
}
.background_34a9a3{
    background:#34a9a3;
}
.background_4c81d7{
    background:#4c81d7;
}
.background_3794ed{
    background:#3794ed;
}
.background_56b267{
    background: #56b267;
}
.background_34a8a2{
    background: #34a8a2;
}
.background_497fd4{
    background: #497fd4;
}
.background_59b664{
    background: #59b664;
}
.background_35aba3{
    background: #35aba3;
}
.background_4c80d6{
    background: #4c80d6;
}
.background_35aaa3{
    background: #35aaa3;
}
.background_4b80d6{
    background: #4b80d6;
}
.background_5588dd{
    background: #5588dd;
}
.background_7aa6ef{
    background: #7aa6ef;
}
.background_1eb577{
    background: #1eb577;
}
.background_42d196{
    background: #42d196;
}
.background_8170ef{
    background: #8170ef;
}
.background_8e80ec{
    background: #8e80ec;
}
.background_347cdb{
    background: #347cdb;
}
.background_1c69bf{
    background:#1c69bf;
}
.background_99b7ea{
    background: #99b7ea;
}
.background_93ddf1{
    background: #93ddf1;
}
.background_55b85a{
    background: #55b85a;
}
.background_29a89d{
    background: #29a89d;
}
.background_3f76d0{
    background: #3f76d0;
}
/*字体大小*/
.fontsize_14{
    font-size: 14px;
}
.fontsize_16{
    font-size: 16px;
}
.fontsize_18{
    font-size: 16px;
}
.fontsize_30{
    font-size: 30px;
}
.fontsize_18{
    font-size: 18px;
}
/*li*/
li{
    list-style: none;
}
/*阴影*/
.yhsy_boxShadow{
    /*box-shadow: 0 0 40px rgb(220, 24, 21);*/
    box-shadow: 0 0 10px rgba(213, 216, 220, 1);
}

@media only screen and (max-width: 1399px) and (min-width: 1366px){

}